In [1]:
import pandas as pd

In [3]:
DF1 = pd.DataFrame({'Autos':['Audi','Mercedes','Renault'],
                   'Color':['Blanco','Negro','Azul']}).set_index('Autos')

In [24]:
DF2 = pd.DataFrame({'Autos':['RedBull','Mercedes','Renault'],
                   'Modelo':[2018, 2019,2023]}).set_index('Autos')

In [5]:
DF1

           Color
Autos
Audi      Blanco
Mercedes   Negro
Renault     Azul

In [6]:
DF2

          Modelo
Autos
Audi        2018
Mercedes    2019
Renault     2023

In [15]:
#df=pd.concat([DF1,DF2],axis=1)

In [16]:
#df

In [25]:
df1= pd.merge(DF1,DF2, on='Autos')

In [26]:
df1

          Color  Modelo
Autos
Mercedes  Negro    2019
Renault    Azul    2023

In [27]:
df2= pd.merge(DF1,DF2, on='Autos', how='outer')

In [28]:
df2

           Color  Modelo
Autos
Audi      Blanco     NaN
Mercedes   Negro  2019.0
Renault     Azul  2023.0
RedBull      NaN  2018.0